{% extends "index.html" %}

    {% block content %}
        <!-- Page Content -->


    <div class="page_content">
        <div class="row">
            <div class="col-md-12">
                <a href="/aw007/articles" class="btn btn-info" role="button">< Back</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{{article.title}}</h2>

                <p>{{article.abstract}}</p>

                <address>
                    <strong>Article Id: {{article.article_id}}</strong><br>
                    <strong>Journal Id: {{article.journal_id}}</strong><br>
                    <strong><small>Authors: <em>{{article.authors}}</em></small></strong><br>
                    <strong><small>Published At: {{article.published_at}}</small></strong><br>
                </address>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Article MER Terms</h4>

                {% if articleMERTerms |length > 0 %}

                  <table class="table table-bordered">
                    <tr>
                      <th>Term/Entity</th>
                      <th>Start Position</th>
                      <th>End Position</th>
                    </tr>
                    {% for term in articleMERTerms %}
                    <tr>
                      <td>{{term.term}}</td>
                      <td>{{term.pos_start}}</td>
                      <td>{{term.pos_end}}</td>
                    </tr>
                    {% endfor %}
                  </table>

                {% else %}
                  <p>No terms/entities found.</p>
                {% endif %}

            </div>
        </div>

        <div class="row">
            <h2 class="text-center">Star Rating</h2>
            <div class="col-sm-6 col-sm-offset-2">
                
                <div class="rating">
                    <span class="star_rating" value="-1">☆</span>
                    <span class="star_rating">☆</span>
                    <span class="star_rating">☆</span>
                    <span class="star_rating">☆</span>
                    <span class="star_rating">☆</span>
                    <span class="star_rating">☆</span>
                    <span class="star_rating">☆</span>
                    <br>
                    <span>5</span>
                    <span>4</span>
                    <span>3</span>
                    <span>2</span>
                    <span>1</span>
                    <span>0</span>
                    <span>1-</span>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <label for="article_comment">Give us your feedback about this article:</label>
                <textarea class="form-control" rows="6" placeholder="Write a comment..."></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
    </div>

    {% endblock content %}


