
<div class="article_content" vocab="http://schema.org/" typeof="MedicalScholarlyArticle">
    <div property="publicationType" style="display:none">Classical Article</div>
    <div property="inLanguage" typeof="Language" style="display:none">
      <span property="name">English</span>
    </div>

    <!------- BACK BUTTON ---------->

    <div class="row top5" >
        <div class="col-md-12">
            <a href="/aw007/articles" class="btn btn-info btn-pretty" role="button">< Back</a>
        </div>
    </div>


    <!------- ARTICLE TITLE -------->
    <div class="row">
        <div class="col-md-12">
            <h3 id="article_title" class="text-center article_title" property="headline">{{article.title}}</h3>
            <span class="id_article text-center" style="display:none;">{{article.id}}</span>
        </div>
    </div>

    <!------- ARTICLE ABSTRACT -------->

    <div class="row top15" >
        <div class="col-md-12">

            <p class="article_abstract" property="about">{{article.abstract}}</p>

        </div>
    </div>

    <!------- ARTICLE METADATA ---------->

    <div class="row top10">
        <div class="col-md-12">

            <address>
                <strong>Article Id: <span class="article_id" property="identifier">{{article.article_id}}</span></strong><br>
                <strong typeof="Periodical">Journal Id:
                    <span class="article_journal_id" property="issn">{{article.journal_id}}</span>
                </strong>
                <br>
                <strong>
                  <small>Authors:
                    {% for author_name in article.authors %}
                    <em><span class="article_authors" property="author">{{author_name}}</span>;</em>
                    {% endfor %}
                  </small>
                </strong>
                <br>
                <strong><small>Published At: <span class="article_published_At" property="datePublished">{{article.published_at}}</span></small></strong><br>
            </address>
        </div>
    </div>

    <!-- ----- MER TERMS BUTTON AND TABLE  -------- -->
    <div class="row">
        <div class="col-md-12">
            <a id = "btn_term_table_display" class="btn btn-info btn-pretty " role="button">Terms Table</a>
        </div>
    </div>

    <div id= "article_mer_terms" class="row">
        <div class="col-md-12">
            <h4>Article MER Terms</h4>

        </div>


            <div class="term_table" >
                {% if articleMERTerms |length > 0 %}

                        <table class="articles_terms_table table table-bordered">
                        <tr>
                                <th>Term/Entity</th>
                                <th>DO_ID</th>
                                <th>Start Position</th>
                                <th>End Position</th>
                                <th>Feedback </th>
                        </tr>
                        <div class="terms">

                        {% for term in articleMERTerms %}


                            <tr>

                                <td class="article_term" property="keywords">{{term.term}}</td>
                                <td class="article_do_id"> {{term.do_id}}</td>
                                <td class="article_term_pos_start">{{term.pos_start}}</td>
                                <td class="article_term_pos_end">{{term.pos_end}}</td>
                                <td class="article_feedback">
                                    <button id="art_mer_like" class="glyphicon glyphicon-thumbs-up" value = "{{ term.article_id }},{{ term.term }},{{ term.pos_start}}" > </button>
                                    <span id="art_mer_like_nr" class="article_feedback_likes side5">{{term.likes}}</span>
                                    <button id="art_mer_dislike" class="glyphicon glyphicon-thumbs-down" value = "{{ term.article_id }},{{ term.term }},{{ term.pos_start}} "></button>
                                    <span id = "art_mer_dislike_nr" class="article_feedback_dislikes side5">{{term.dislikes}} </span>
                                </td>



                            </tr>

                        {% endfor %}
                        </div>
                        </table>

                {% else %}
                    <p class="article_no_terms">No terms/entities found.</p>
                {% endif %}
            </div>



        </div>
    </div>

    <!-- ----- ARTICLE STAR RATING -------- -->
    <div class="row" >
        <h3 class="text-center">Star Rating</h3>
        <div class="col-sm-6 col-sm-offset-2">

            <div class="rating" id="star-rating-article">
                <span class="star_rating" value="5">☆</span>
                <span class="star_rating" value="4">☆</span>
                <span class="star_rating" value="3">☆</span>
                <span class="star_rating" value="2">☆</span>
                <span class="star_rating" value="1">☆</span>
                <span class="star_rating" value="0">☆</span>
                <span class="star_rating" value="-1">☆</span>
                <br>
                <span>5</span>
                <span>4</span>
                <span>3</span>
                <span>2</span>
                <span>1</span>
                <span>0</span>
                <span>1-</span>
                <br>
            </div>
        </div>
    </div>


    <!------- ARTICLE COMMENT ---------->

    <div class="row top20" id="article-comment">
        <div class="col-sm-10 col-sm-offset-1">
            <label for="article_comment">Give us your feedback about this article:</label>
            <textarea id="comment_article_textarea" class="form-control" rows="6" placeholder="Write a comment..."></textarea>
            <button id="feedback-submit" class="btn btn-info top5 btn-pretty" role="button">Save</button>
        </div>
    </div>
    <div class="row top20">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="comment_feedback_response"></div>
        </div>
    </div>
    <div class="row top20">
        
        <div class="col-sm-10 col-sm-offset-1">
            <h3 class="text-center"> Comments </h3>
            <hr>
            <div class="article_comments">
                <div class="article_comment top10">
                    <div class="media">
                        <div class="media-left media-middle">
                            
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading publicated_at">Middle aligned media</h4>
                            <div class="comment">

                            </div>
                            
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


