<div class="page_content">
  <div class="row top5" >
      <div class="col-md-12">
          <a href="" class="btn btn-info btn-pretty" role="button">< Back</a>
      </div>
  </div>
  <p></p>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 style="text-align:center;">Articles</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="row fix">
        {% for article in articles %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">

                    <div class="caption">
                        <a id="button_open_article" class="article_link" href="articles/{{article.id}}" ><h3>{{article.title}}</h3></a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
