   
<div class="container">
   <div class="row">
       <div class="col-sm-12">
        <!--Copyright-->
            <div class="footer-copyright text-center">
                © 2018 Copyright: 
                <p> 
                    <span> Fábio Martins nº 48393 </span> 
                    <span> Sara Gonçalves nº 50254 </span>
                    <span>Joana Matos nº 50074</span>
                    <span>Rodrigo Matos nº 33451</span>
                </p>
            </div>
       </div>
    
    </div>
</div>
    <!--/.Copyright-->

    
   
    <!-- Latest compiled and minified JavaScript -->
    <script src="/aw007/assets/js/jquery-3.3.1.min.js"></script>
    
    <script src="/aw007/assets/bootstrap-3.3.7/js/bootstrap.js"></script>

    <!-- chart js -->
    <script src="/aw007/assets/js/Chart.bundle.min.js"></script>
    <!--<div class="footer text-center">
        2018 - Projecto de Aplicações na WEB 
    </div>-->

    <!--Git Hub buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

     <!--auto complete -->
    <script src="/aw007/assets/js/JavaScript-autoComplete-master/auto-complete.min.js"></script>
    
    <script src="/aw007/assets/js/api/api.js"></script>
