   
   <!-- Latest compiled and minified JavaScript -->
    <script src="http://localhost/aw007/public_html/assets/js/jquery-3.3.1.min.js"></script>
    
    <script src="http://localhost/aw007/public_html/assets/bootstrap-3.3.7/js/bootstrap.js"></script>

    <!-- chart js -->
    <script src="http://localhost/aw007/public_html/assets/js/Chart.bundle.min.js"></script>
<!--<div class="footer text-center">
    2018 - Projecto de Aplicações na WEB 
</div>-->

    <!--Git Hub buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
