

    <meta charset="UTF-8">
    <meta name="description" content="Web Aplications 2017/2018">
    <meta name="keywords" content="Diseases, Articles">
    <meta name="author" content="Fábio Martins, Joana Matos, Rodrigo Matos, Sara Gonçalves">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- http://appserver.alunos.di.fc.ul.pt/~aw007/aw007/ -->
    <base href="http://localhost/aw007/">

    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-3.3.7/css/bootstrap-theme.min.css">

    <!-- Style theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!-- Style autocomplete -->
    <link rel="stylesheet" type="text/css" href="assets/js/JavaScript-autoComplete-master/auto-complete.css">


    <title>Aplicações Web 2017/2018</title>
