    
    
    <meta charset="UTF-8">
    <meta name="description" content="Web Aplications 2017/2018">
    <meta name="keywords" content="Diseases, Articles">
    <meta name="author" content="Fábio Martins, Joana Matos, Rodrigo Matos, Sara Gonçalves">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-3.3.7/css/bootstrap-theme.min.css">




    <title>Aplicações Web 2017/2018</title>