<!DOCTYPE html>
<html>
    <head>

        {% include "head.html" %}

    </head>
    
    <body>
            <div id="data-user" data-user="{{ session.user | json_encode()}}"></div>
            <div class="wrapper">
            {% include "sidebar.html" %}
            <div class="container" id="main">
                <div class="row">
                    <div class="col-md-12 sub_main">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            {% include "footer.html" %}
            <div class="sub_footer">
                {% block footer %}
                    
                {% endblock footer %}
            </div>
        </footer>
    </body>
</html>

<script>
$(document).ready(function () {

    window.addEventListener('popstate', function (event) {
        if (history.state && history.state.id === '') {
            loadPage('');
        }
        if (history.state && history.state.id === 'diseases') {
            loadPage('diseases');
        }
        if (history.state && history.state.id === 'statistics') {
            loadPage('statistics');
        }
        if (history.state && history.state.id === 'documentation') {
            loadPage('documentation');
            
        }

    }, false);

    $('li a').click(function (e) {

        if ($(this).parent().attr('class') != "disabled") {

            console.log($(this).attr('href'));
            if ($(this).attr('href') == "#home") {
                loadPage('');
            }
            if ($(this).attr('href') == "#diseases") {
                loadPage('diseases');
            }
            if ($(this).attr('href') == "#statistics") {
                loadPage('statistics');
            }
            if ($(this).attr('href') == "#documentation") {
                loadPage('documentation');
            }
        }
    });

    function loadPage(href)
    {   

        


        if(href ==  "home"){
            console.log(href);
        }
        if(href ==  "diseases"){
            console.log(href);
        }
        if(href ==  "statistics"){
            console.log(href);
        }
        if(href ==  "documentation"){
            console.log(href);
            //$('.page_content').html('documentation/documentation.html');
        }

        var base_url = window.location.protocol + '//' + window.location.hostname + '/' + window.location.pathname.split('/')[1]
        console.log(base_url);

        history.pushState({id:base_url+'/'+href}, '', base_url+'/'+href);
        

        /*href = 'http://'+window.location.hostname+'/aw007/'+href;
        
        $.ajax({
            type: "GET",
            url: href,
            dataType: 'html'
        })
        .done(function(result){

            console.log('oi');

            var sub_main_content = $('<div></div>').append(result).find('#main .sub_main').html();
            //console.log($('<div></div>').append(result).find('#main .sub_main').html());
            
            //insert the new sub_main content
            $('#main .sub_main').html(sub_main_content);

            //footer replaces
            var sub_footer_content = $('<div></div>').append(result).find('.sub_footer').html();
            console.log(sub_footer_content);
            
            //insert the new sub_main content
            var prevObject = $(sub_footer_content).filter('script');
            console.log(prevObject);
            
            $('.sub_footer').html('');
            //var scripts = prevObject[prevObject.length -1 ];
            for (let index = 0; index < prevObject.length; index++) {
                const script = prevObject[index];
                $('.sub_footer').append(script);
            }
            //console.log(scripts);
            console.log(prevObject);
            //change url
            history.pushState({id:href}, '', (href == '' ? ''+href : href));
        })
        .fail(function(jqXHR, textStatus) {
            console.log(jqXHR);
        })
        .always(function(){
            console.log('complete');
        });*/
    }

});
</script>
<script src="/aw007/assets/js/diseases/main.js"></script>
<script src="/aw007/assets/js/articles/main.js"></script>


