<!DOCTYPE html>
<html>
<head>
  {% include "head.html" %}
</head>

<body>
  <div id="data-user" data-user="{{ session.user | json_encode()}}"></div>
  <div class="wrapper">
    {% include "sidebar.html" %}
    <div class="container" id="main">
      <div class="row">
        <div class="col-md-12 sub_main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <footer>
    {% include "footer.html" %}
    <div class="sub_footer">
      {% block footer %}

      {% endblock footer %}
    </div>
  </footer>

  <script src="assets/js/util.js"></script>
  <script src="assets/js/index/main.js"></script>
  <script src="assets/js/diseases/main.js"></script>
  <script src="assets/js/articles/main.js"></script>
  <script src="assets/js/JavaScript-autoComplete-master/auto-complete.min.js"></script>
  <script src="assets/js/articles/rating.js"></script>
  <script src="assets/js/diseases/rating.js"></script>
  <script src="assets/js/articles/comment.js"></script>
  <script src="assets/js/diseases/comment.js"></script>
  <script src="assets/js/articles/abstract_annotation.js"></script>
  <script src="assets/js/diseases/similardiseases.js"></script>
  <script src="assets/js/twig.min.js"></script>
</body>
</html>
