<div class="nav-side-menu">
        <div class="brand"> <img src="/aw007/assets/images/favicon.png" alt="diseases" class="img-responsive"></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        <i class="fa fa-dashboard fa-lg"></i> Home
                    </a>
                </li>
                <li>
                    <a href="#diseases" data-toggle="tab">
                        <i class="fa fa-dashboard fa-lg"></i> Diseases
                    </a>
                </li>
                <li>
                    <a href="#statistics" data-toggle="tab">
                        <i class="fa fa-dashboard fa-lg"></i> Statistics
                    </a>
                </li>
                <!--<ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>-->
                <li>
                    <a href="#documentation" data-toggle="tab">
                        <i class="fa fa-user fa-lg"></i> Documentation
                        
                    </a>
                </li>

            </ul>
            
        </div>
</div>
