{% extends "index.html" %}

{% block content %}



<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="page-header">
            <h1>Aplicações na Web <small> 2017/2018</small></h1>
        </div>
        
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 style="text-align:center">Intruduction</h2>
                        <div class="row contentText">
                                The AW 2017/18 project consists in creating a semantic search engine for diseases and scientific articles, with the following components:
                                <ul>
                                    <li><b>Data Collection:</b> collecting text and data about diseases (Demo I)</li>
                                    <li><b>Data Annotation:</b> create semantic links between the collected data (Demo II)</li>
                                    <li><b>Data Access:</b> make the information available as a web service and as dynamic web page.</li>
                                </ul> 
                        </div>
                        <div class="row contentText">
                            <div class="col-sm-12">
                                <h3 style="text-align:center">Data Collection</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">
                            <div class="thumbnail">
                                <img src="http://localhost/aw007/public_html/assets/images/diseases.png" alt="diseases" class="img-responsive" style="min-height:300px; max-height:300px; width:100%;">
                                <div class="caption">
                                        <a href="http://localhost/aw007/diseases" target="_BLANK" class="btn btn-primary btn-lg" role="button">Diseases</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">
                            <div class="thumbnail">
                                <img src="http://localhost/aw007/public_html/assets/images/statistics.png" alt="statistics" class="img-responsive" style="min-height:300px; max-height:300px; width:100%;">
                                <div class="caption">
                                        <a href="http://localhost/aw007/statistics"  target="_BLANK" class="btn btn-primary btn-lg" role="button">Statistics</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center">
                            <div class="thumbnail">
                                <img src="http://localhost/aw007/public_html/assets/images/documentation.png" alt="documentation" class="img-responsive" style="min-height:300px; max-height:300px; width:100%;">
                                <div class="caption">
                                        <a href="http://localhost/aw007/documentation"  target="_BLANK" class="btn btn-primary btn-lg" role="button">Documentation</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}

