<div class="page_content" vocab="http://schema.org/" typeof="MedicalCondition">

    <div property="sameAs" style="display:none">http://purl.obolibrary.org/obo/{{data['disease'].do_id}}</div>
    <div property="sameAs" style="display:none">{{data['disease'].uri}}</div>

    <div class="row">
        <div class="col-md-12">
            <a href="/aw007/diseases" class="btn btn-info" role="button">< Back</a>
        </div>
    </div>

    <h1 class="text-center page_title" property="name">{{data['disease'].name}}</h1>
    <span class="id_disease text-center" style="display:none;">{{disease.id}}</span>
    <hr>

    <h1 class="text-center abstract_title">Abstract</h1>
    <p class="abstract_text" property="description">{{data['disease'].abstract}}</p>
    <hr>

    <h2 class="text-center">Metadata</h2>
    <div class="row">
        <div class="col-md-12">
                <div class="metadata">
                    <table class="metadata_table table table-bordered">
                    <tr>
                        <th>DBpedia ID</th>
                        <th>DBpedia Revision ID</th>
                        <th>DBpedia link</th>
                        <th>Disease Ontology ID</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>

                    <tr>
                        <td class="disease_dbpedia_id" property="identifier">{{data['disease'].dbpedia_id}}</td>
                        <td class="dbpedia_revision_id">{{data['disease'].dbpedia_revision_id}}</td>
                        <td class="disease_uri"><a target="_blank" href="{{data['disease'].uri}}">{{data['disease'].uri}}</a></td>
                        <td class="disease_do_id">{{data['disease'].do_id}}</td>
                        <td class="disease_created_at">{{data['disease'].created_at}}</td>
                        <td class="disease_updated_at">{{data['disease'].updated_at}}</td>
                    </tr>
                    </table>
                </div>
        </div>
    </div>
    <hr>
    <div class="row" >
        <h3 class="text-center">Star Rating</h3>
        <div class="col-sm-6 col-sm-offset-2">

            <div class="rating" id="star-rating-disease">
                <span class="star_rating" value="5">☆</span>
                <span class="star_rating" value="4">☆</span>
                <span class="star_rating" value="3">☆</span>
                <span class="star_rating" value="2">☆</span>
                <span class="star_rating" value="1">☆</span>
                <span class="star_rating" value="0">☆</span>
                <span class="star_rating" value="-1">☆</span>
                <br>
                <span>5</span>
                <span>4</span>
                <span>3</span>
                <span>2</span>
                <span>1</span>
                <span>0</span>
                <span>1-</span>
                <br>
            </div>
        </div>
    </div>

    <div class="row top20" id="disease-comment">
        <div class="col-sm-10 col-sm-offset-1">
            <label for="disease_comment">Give us your feedback about this disease:</label>
            <textarea class="form-control" rows="6" placeholder="Write a comment..."></textarea>
            <a href="#" id="feedback-submit-disease" class="btn btn-info top5 btn-pretty" role="button">Save</a>
        </div>
    </div>
    <hr>

    <h2 class="text-center">Articles (by order of relevance)</h2>
    <div class="row">
        <div class="articles">
            {% for article in data['articlesDisease'] %}
            <div class="article" vocab="http://schema.org/" typeof="MedicalScholarlyArticle">
                <div property="about" style="display:none">{{data['disease'].name}}</div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <p>
                            <h5 class="article_title" property="headline">{{ article.title }}</h5>
                        </p>
                        <div class="caption">
                            <h3 class="article_name">{{ articles.name }}</h3>
                            <p>
                                <a href="/aw007/articles/{{article.id}}" class="btn btn-primary article_link" role="button">Ver</a>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>

    <h2 class="text-center">Photos</h2>
    <hr>
    <div class="row">
        <div class="photos">
        {% for photo in data['photosDisease'] %}
            <div class="photo" vocab="http://schema.org/" typeof="photo">
                <div property="about" style="display:none">{{data['disease'].name}}</div>
                <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img property="image" src="{{photo.url}}" alt="{{photo.url}}" class="img-responsive photo_url" style="min-height:150px; max-height:150px; width:100%;">
                            <div class="caption">
                                <h3 class="photo_username">{{photo.username}}</h3>
                                <p class="photo_nr_like">Likes: {{photo.nr_likes}}</p>
                                <p class="photo_nr_comment">Comments: {{photo.nr_comments}}</p>
                                <p class="photo_nr_share">Shares: {{photo.shares}}</p>
                                <p class="photo_published_at">Published At: {{photo.published_at}}</p>
                            </div>
                        </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <h2 class="text-center">Tweets (by order of relevance)</h2>
    <hr>
    <div class="row">
        <div class="tweets">
        {% for tweet in data['tweetsDisease'] %}
        <div class="tweet" vocab="http://schema.org/" typeof="SocialMediaPosting">
            <div property="about" style="display:none">{{data['disease'].name}}</div>
            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <span class="tweet_html">{{tweet.html | raw}}</span>
                        <!-- <img src="{{tweet.url}}" alt="{{tweet.url}}" class="img-responsive" style="min-height:150px; max-height:150px; width:100%;">-->
                        <div class="caption">
                            <h3 class="tweet_username" property="creator">{{tweet.username}}</h3>
                            <p class="tweet_nr_likes">Likes: {{tweet.nr_likes}}</p>
                            <p class="tweet_comment" property="commentCount">Comments: {{tweet.nr_comments}}</p>
                            <p class="tweet_share">Shares: {{tweet.shares}}</p>
                            <p class="tweet_published_at" property="datePublished">Published At: {{tweet.published_at}}</p>
                        </div>
                        <a property="url" href="{{tweet.url}}" target="_blank" class="btn btn-primary tweet_url" role="button">Tweet</a>
                    </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
