<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="description" content="Web Aplications 2017/2018">
        <meta name="keywords" content="Diseases, Articles">
        <meta name="author" content="Fábio Martins, Joana Matos, Rodrigo Matos, Sara Gonçalves">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../public_html/assets/bootstrap-3.3.7/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="../public_html/assets/bootstrap-3.3.7/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="../public_html/assets/js/jquery-3.3.1.min.js"></script>
       
        <script src="../public_html/assets/bootstrap-3.3.7/js/bootstrap.js"></script>


        <title>Aplicações Web 2017/2018</title>

    </head>

    <body>
        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="page-header">
                    <h1>Aplicações na Web <small> 2017/2018</small></h1>
                </div>
            </div>
      
            {{disease.name}}
            <!-- /.row -->
        </div>
            
            
                 
           
      
    </body>
    
</html>