{% extends "index/index.html" %}


        {% block content %}
        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="page-header">
                    <h1>Aplicações na Web <small> 2017/2018 {{message}}</small></h1>
                </div>
            </div>
      
            <div class="row">
                {% for disease in diseases %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                        <a href="diseases/{{disease.id}}" target="_blank" ><img src="{{ disease.thumbnail }}" alt="..." class="img-responsive" style="min-height:200px; max-height:200px; width:100%;"></a>
                        <div class="caption">
                            <h3>{{ disease.name }}</h3>
                            
                            <p><a href="{{ disease.uri }}" target="_blank" class="btn btn-primary" role="button">Link</a> 
                        </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
            <!-- /.row -->
        {% endblock content %}