{% extends "index/index.html" %}


{% block content %}

    <div class="container">


        <div class="row">
            <div class="page-header">
                <h1>Estatisticas</h1>
            </div>
        </div>

        <div class="row">
            <h4>Number of diseases {{nrDiseases}} </h4>  
            <h4>Number of tweets {{nrTweets}} </h4>  
            <h4>Number of photos {{nrPhotos}} </h4>  
            <h4>Number of articles {{nrArticles}} </h4>  
            <h4>Number of authors {{nrAuthors}} </h4>  
        
        </div>
    </div>
{% endblock content %}